* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #48773E;
}

body,
textarea,
input[type=text],
input[type=email] {
    font-family: Arial, Helvetica, sans-serif;
}

body,
nav ul li a,
.social a {
    color: #FFFFFF
}

nav {
    height: 50px;
}

nav,
nav ul,
main,
.goal13,
.social,
.social a,
.game-img,
.name,
.email,
.rating,
.feedback,
.ntnu-logo,
.personal-credit {
    display: flex;
}

nav,
.goal13,
.personal-credit {
    justify-content: center;
}

nav,
.social a,
.game-img,
.ntnu-logo,
.personal-credit {
    align-items: center;
}

nav,
.form-wrap {
    background-color: #305F26;
}

nav ul {
    list-style: none;
    justify-content: space-between;
}

nav ul,
.goal13 img,
.ntnu-logo img {
    width: 250px;
}

nav ul li a,
.social a {
    text-decoration: none;
}

main {
    margin: 20px 0 0 0;
}

main,
.social,
.name,
.email,
.rating,
.feedback,
.ntnu-logo {
    flex-direction: column;
}

h1 {
    margin: 20px 5%;
}

article {
    padding: 20px 5%;
}

article,
.ntnu-logo {
    background-color: rgba(154, 154, 154, 0.5);
}

article h2,
p {
    margin-bottom: 8px;
}

/* Game page socials */

.social {
    margin: 20px 18%;
    border-radius: 2%;
}

.social img {
    margin: 5px 5px 5px 0;
}

.social p span {
    font-weight: bold;
    font-style: italic;
}

.game-img {
    margin: 20px;
}

.game-img img,
iframe,
.ntnu-logo,
.personal-credit {
    width: 100%;
}

/* Contact page */

.form-wrap {
    padding: 10%;
}

.form-wrap,
input[type=text],
input[type=email],
textarea,
select,
article {
    border-radius: 5px;
}

.name,
.email,
.rating,
.feedback {
    justify-content: left;
}

label {
    margin-bottom: 5px;
}

input[type=text],
input[type=email] {
    height: 40px;
    width: 270px;
}

select {
    height: 25px;
}

button,
select {
    width: 100px;
    ;
}

input[type=text],
input[type=email],
textarea,
select,
.ntnu-logo {
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
textarea,
select {
    border: 1px solid #5A5A5A;
    padding-left: 10px;
}

textarea {
    resize: none;
    height: 200px;
    margin-top: 5px;
    padding: 10px;
}

textarea{
    width: 250px;
}

.personal-credit p {
    width: 300px;
}

textarea,
input[type=text],
input[type=email] {
    font-size: 1.3em;
}

button {
    height: 30px;
}

.form-wrap {
    margin-bottom: 5%;
}

/* Footer */

iframe {
    height: 400px;
    margin-bottom: 40px;
}

.ntnu-logo {
    padding-bottom: 20px;
}

.ntnu-logo img {
    padding-bottom: 10px;
}

.ntnu-logo p {
    text-align: center;
}

.personal-credit {
    margin: 20px 0;
}

/* Over 600px */
@media only screen and (min-width: 600px) {

    main,
    .form-wrap {
        align-items: center;
    }


    .goal13 {
        margin-bottom: 20px;
    }

    h1 {
        margin: 15px 0;
    }

    article {
        margin: 0 10% 20px 10%;
        width: 68%;
    }

    .social {
        width: 400px;
        margin-bottom: 40px;
    }

    .form-wrap {
        display: flex;
        justify-content: center;
    }
}